.react{
    top:380px
}
.node{
    top: 40px;
}
.js{
    top: 10px;
}
.laptopguy{
    top:150px;
}
.laptop{
    top: 340px;
    left:460px;
}
.signuplink:hover{
    --tw-text-opacity:1;
    color:rgb( 96 165 250) ;
    
}
#email,#pass{
    padding-left: 30px;
}
#firstname,#secondname{
    padding-left: 10px;
}
@media screen and (max-width:640px) {
    .loginbox{
        width: 100%;
        bottom: 0;
    right: 0;
        padding-bottom: 20%;
    
    }
    .whole1{
        height: 90vh;
    }
    
}